.one{
    height:500px;
    width: 500px;
}
header{
background-image: url(./assect/igor-karimov-fXmmSz5KkO8-unsplash.jpg);
background-position: center;
background-size: cover;
background-repeat: repeat;
height:60vh ;
}
.nav-item:hover{
    background-color: rgb(23, 197, 113);
    transition:1.0s all ;
}
.two{
    height:500px ;
    width:500px ;
}
body {
    background-color: #20a840;
}

.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
img{
  height: 300px;
  width: ;
}
.card:hover{
  background-color: rgb(171, 255, 4);
  transition: 1.0s all;
}
.carousel-item{
  height: 40vh;
  
} 
h1{
  display: flex;
  justify-content: center;
}