.one{
    height:500px;
    width: 500px;
}
header{
background-image: url(./assect/igor-karimov-fXmmSz5KkO8-unsplash.jpg);
background-position: center;
background-size: cover;
background-repeat: repeat;
height:60vh ;
}
.nav-item:hover{
    background-color: rgb(23, 197, 113);
    transition:1.0s all ;
}
.two{
    height:500px ;
    width:500px ;
}
body {
    background-color: #20a840;
}

.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
img{
  height: 300px;
  width: ;
}
.card:hover{
  background-color: rgb(171, 255, 4);
  transition: 1.0s all;
}
.carousel-item{
  height: 60vh;
  
} 
h1{
  display: flex;
  justify-content: center;
}
footer{
  background-image: url(./assect/joshua-oluwagbemiga-CRceFnYfrLQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1.0s all;
}
body{

  background: #d1d5db;
}

.height{

  height: 50vh;
}

.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}